<div *ngIf="loading">Cargando...</div>

<div *ngIf="!loading && pokemon">
  <h2>{{ pokemon.name | titlecase }}</h2>
  <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">

  <h3>Tipos</h3>
  <ul>
    <li *ngFor="let t of pokemon.types">{{ t.type.name | titlecase }}</li>
  </ul>

  <h3>Habilidades</h3>
  <ul>
    <li *ngFor="let a of pokemon.abilities">{{ a.ability.name | titlecase }}</li>
  </ul>

  <h3>Stats</h3>
  <ul>
    <li *ngFor="let s of pokemon.stats">
      {{ s.stat.name | titlecase }}: {{ s.base_stat }}
    </li>
  </ul>
</div>
